# Virtualenv
venv/
env/
*.pyc
*.pyo
__pycache__/

# Ignore pipenv or poetry lock files
Pipfile.lock
poetry.lock

# Ignore IDE specific files and directories
.vscode/
.idea/

# Ignore operating system files
.DS_Store
Thumbs.db
